@import '@/style/common.scss';

@mixin transition-block($color:#9eccab) {
  @include block(100px, 100px);
  background: $color;
}

.transition-page {
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 100px;

    .block1 {
      @include transition-block();
      background: #9eccab;

      &:hover {
        background: #ff2956;
      }
    }

    .block2 {
      @include transition-block();
      background: #9eccab;
      transition: all 1s;

      &:hover {
        background: #ff2956;
      }
    }

    .block3 {
      @include transition-block();
      background: #51c4d3;
      margin-left: 100px;

      &:hover {
        transform: translate(-50px, -50px)
      }
    }

    .block4 {
      @include transition-block();
      background: #51c4d3;
      transition: all 1s;

      &:hover {
        transform: translate(-50px, -50px)
      }
    }

    .block5 {
      @include transition-block();
      background: #fca106;
      margin-left: 100px;

      &:hover {
        width: 200px;
      }
    }

    .block6 {
      @include transition-block();
      background: #fca106;
      transition: all 1s;

      &:hover {
        width: 200px;
      }
    }

    .block7 {
      @include transition-block();
      background: #cabbe9;
      transition: background 1s linear, border-radius 1s ease-in 1s;

      &:hover {
        background: #ff2956;
        border-radius: 50%;
      }
    }

    .block8 {
      @include transition-block();
      background: #cabbe9;
      transition: background 1s linear, border-radius 1s;

      &:hover {
        background: #ff2956;
        border-radius: 50%;
      }
    }


    .dialog-button {
      @include transition-block();
      background: #ff5959;
      height: 40px;
      position: relative;

      .dialog-content {
        position: absolute;
        top: 50px;
        left: 0;
        display: block;
        width: 200px;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 8px;
        background: #efecec;
        color: #060608;
        transition: all 0.5s ease-out;
        opacity: 0;
        pointer-events: none;
        transform: translate(30%);
      }

      &:hover .dialog-content {
        pointer-events: auto;
        opacity: 1;
        transform: translate(0);
      }
    }


  }


}