@import '../../style/color-ui-animation.scss';
.color-ui-animation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 100px;
  @mixin block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
  }
  .fade {
    @include block();
    background: #5c2223;
    color: #fff;
  }
}
