.home {
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: small;

    &__color-ui {
      background: #5c2223;
      color: #fff;
    }
  }
}
